doctype html
html(lang="en")
  head
    title Chat Room
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type="text/javascript", src="/js/app.js")
    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/skeleton.css")
  body
    .container
      .row
        .one-half.column(style="margin-top: 25%")
          h4 Chat Room
          p.
            This is where stuff goes.

